@charset "utf-8";
//==================================================================
//	media query
//==================================================================
$lPc: 1550px;
$MPc: 1440px;
$pc: 1280px;
$tab: 1024px;
$sp: 768px;
$sp480: 480px;
$sp375: 375px;
$sp320: 320px;
@mixin pc_large {
	@media (max-width: ($pc_large)) {
		@content;
	}
}
@mixin pc_medium {
	@media (max-width: ($pc_medium)) {
		@content;
	}
}
@mixin pc {
	@media (max-width: ($pc)) {
		@content;
	}
}
@mixin tab {
	@media (max-width: ($tab)) {
		@content;
	}
}
@mixin sp {
	@media (max-width: ($sp)) {
		@content;
	}
}
@mixin sp_small {
	@media (max-width: ($sp_small)) {
		@content;
	}
}
@mixin sp375 {
	@media (max-width: ($sp375)) {
		@content;
	}
}
@mixin sp320 {
	@media (max-width: ($sp320)) {
		@content;
	}
}
//==================================================================
//	line-height
//==================================================================
@mixin lhCrop($line-height) {
	&::before {
	  content: '';
	  display: block;
	  height: 0;
	  width: 0;
	  margin-top: calc((1 - #{$line-height}) * 0.5em);
	}
  }

//==================================================================
//	font-size
//==================================================================
@mixin fz($size: 16) {
	font-size: $size + px;
	font-size: ($size / 10)  + rem;
}

