@charset "utf-8";
@import "mixin";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */ *,::before,::after{box-sizing:border-box;border-style:solid;border-width:0}html{line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}body{margin:0}main{display:block}p,table,blockquote,address,pre,iframe,form,figure,dl{margin:0}h1,h2,h3,h4,h5,h6{font-size:inherit;line-height:inherit;font-weight:inherit;margin:0}ul,ol{margin:0;padding:0;list-style:none}dt{font-weight:700}dd{margin-left:0}hr{box-sizing:content-box;height:0;overflow:visible;border-top-width:1px;margin:0;clear:both;color:inherit}pre{font-family:monospace,monospace;font-size:inherit}address{font-style:inherit}a{background-color:transparent;text-decoration:none;color:inherit}abbr[title]{text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:inherit}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img,embed,object,iframe{vertical-align:bottom}button,input,optgroup,select,textarea{-webkit-appearance:none;appearance:none;vertical-align:middle;color:inherit;font:inherit;background:transparent;padding:0;margin:0;outline:0;border-radius:0;text-align:inherit}[type="checkbox"]{-webkit-appearance:checkbox;appearance:checkbox}[type="radio"]{-webkit-appearance:radio;appearance:radio}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{cursor:pointer;-webkit-appearance:none;appearance:none}button[disabled],[type="button"][disabled],[type="reset"][disabled],[type="submit"][disabled]{cursor:default}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}select::-ms-expand{display:none}option{padding:0}fieldset{margin:0;padding:0;min-width:0}legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}label[for]{cursor:pointer}details{display:block}summary{display:list-item}[contenteditable]{outline:none}table{border-collapse:collapse;border-spacing:0}caption{text-align:left}td,th{vertical-align:top;padding:0}th{text-align:left;font-weight:700}template{display:none}[hidden]{display:none}
:root{
    --color-black01:#222222;
    --color-blue01:#18A6F6;
    --color-blue02:#0067C7;
    --color-blue01-op:rgba(24, 166, 246, 0.2);
    --button-color01:#E8FEFF;
    --buttonBorder-color01:#BCD9F3;
    --buttonBorder-color02:#22282B;
    --color-white:#ffffff;
    --color-white02:#F0F0F0;
    --post-color01:#838383;
    --text-gray01:#E9E9E9;
    --text-gray02:#BABABA;
    --bg-black01:#1D1D1D;
    --bg-black02:#353535;
	--myheight: 100px;
}
html {           
    font-size: .6rem;
    @media (max-width:1280px){
        font-size: 10px;
    }
    @media (min-width:1550px){
        font-size: 10px;
    }
    @include tab(){
    }
    @include sp(){
    }
}
::selection {
    background: #000;
    color: #ffffff;
}
body{
    min-width: 320px;
    font-family: 'Noto Sans JP',"游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-feature-settings: "palt" 1;
    line-height: 1.7;
    color: #333;
    background-color: var(--color-white);
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: 300;
}



//==================================================================
//	parts
//==================================================================

// display
@mixin flex(){
    display: flex;
}
.flex{
    display: flex;
    justify-content: space-between;
    &.-inline{
        display: inline-flex;
    }
    &.-jcStart{
        justify-content: start;
    }

    &.-iCenter{
        align-items: center;
    }

    &.-fWrap{
        flex-wrap: wrap;
    }
}
.block{
    display: block;
}
// color
.bgBlack{
    background-color: var(--color-black01);
}
.c_mainBlue{
    color:var(--color-blue01)
}
.c_gradationBlue{
    color: var(--color-blue01);
    background: -webkit-linear-gradient(0deg, #E8FEFF, #5FC5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
// mix blend
.mixBlend{
    mix-blend-mode: difference;
}

// font
@mixin roboto() {
    font-family: 'Roboto', sans-serif;
}
.roboto{
    @include roboto();
}

// button
@mixin circle {
    min-width: 42px;
    width: 42px;
    min-height: 42px;
    height: 42px;
    border-radius: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.circle{
   @include circle();
    &__borderBlue{
        @include circle();
        border: 3px solid var(--color-blue01-op);
        background: transparent;
    }
}
.btn_arrow01{
    width: 6px;
    height: 10px;
}
.arrowBtn01{
    $block:&;
    display: inline-block;
    padding-bottom: 15px;
    overflow: hidden;
    margin-top: 6rem;
    font-weight: 400;
    &__txt{
        @include fz(18);
        margin-left: 1.4rem;
        &.-cBlue{
            color:var(--buttonBorder-color01);
        }
    }
    &__underBorder{        
        position: relative;
        content: "";
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--buttonBorder-color02);
        z-index: 100;
        & span{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 42px;
            height: 2px;
            background: linear-gradient(270deg, #5FC5FF 0.95%, #E8FEFF 100%);
            z-index: 150;
        }
    }
    // &:hover{
    //     & #{$block}__underBorder{        
    //         & span{
    //             width: 100%;
    //             opacity: 1;
    //             transition: width 0.3s 0s cubic-bezier(0.71, 0.22, 0.28, 0.86);
    //         }
    //     }
    // }
}
.moreBtn{
    @include fz(22);
    width: 100%;
    text-align: center;
    padding: 6rem 0;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
    transition: background .5s 0s cubic-bezier(0.71, 0.22, 0.28, 0.86);
    margin-top: 6.2rem;
    font-weight: 400;
    &:hover{
        background: var(--color-white02);
        & .c_gradationBlue{
            background: -webkit-linear-gradient(0deg, #111111, #111111);
            color: var(--color-blue01);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
// title
.primeTitle{
    @include fz(48);
    color:var(--color-white02);
    margin-bottom: 3rem;
    font-weight: 400;
}
.post{
    color:var( --post-color01);
    @include fz(14);
}

.primeTxt{
    @include fz(20);
    margin-bottom: 3.5rem;
    &.-mbMedium{
        margin-bottom: 2rem;
    }
}
// text
.t_center{
    text-align: center;
}
.t_left{
    text-align: left;
}
.t_right{
    text-align: right;
}
//==================================================================
//	master
//==================================================================
.main{

}
.header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 500;
}
.globalNav{
    $block:&;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 6rem 6.4rem 0;
    color:var(--text-gray01);
    @include flex();
    justify-content: space-between;
    align-items: center;
    &__menu {
        @include flex();
        align-items: center;
        & > div:not(last-of-type){
            margin-left:4rem;
        }
    }
    &__list {
        @include flex();
        align-items: center;
    }
    &__item{
        &:not(:first-of-type) {
            margin-left: 2.2rem;
        }
        @include fz(15);
    }
    &__index{
        cursor: pointer;
    }
}
.indexBtn{
    &__indexBtn{
        @include flex();
        align-items: center;
    }
    &__indexText{
        @include fz(21);
    }
    &__circle{
        width: 35px;
        height: 35px;
        margin-left: 1.3rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        &--item{
            min-width: 5px;
            width: 5px;
            min-height: 5px;
            height: 5px;
            border-radius: 100px;
            background: var(--text-gray01);
            opacity: .25;
            &.-op{
                opacity: 1;
            }
            }
        }
}
.language{
    &__list{
        @include flex();
    }
    &__item{
        @include flex();
        &:not(first-of-type){
            margin-left: 1rem;
        }
        position: relative;
        cursor: pointer;
        opacity: .5;
        &.-current{
            pointer-events: none;
            opacity: 1;
            &:after{
                position: absolute;
                content: '';
                bottom: 1px;
                left: 0;
                right: 0;
                width: 100%;
                height: 1px;
                display: block;
                background: #C4C4C4;
                mix-blend-mode: difference;
            }
        }
        &:hover{
            opacity:1;
        }
    }
}
//==================================================================
//	sections
//==================================================================
.secInner{
    max-width: 1240px;
    width: 100%;
    padding: 0 2rem 14rem 2rem;
    margin: 0 auto;
}

//==================================================================
//	top
//==================================================================
// mainvisual
.mainVisual{
    
    &__wrap{
        height:  calc(var(--myheight, 1vh) * 100);
        overflow: hidden;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:  calc(var(--myheight, 1vh) * 100);
        overflow: hidden;
        pointer-events: none;
        z-index: 200;
        &::before{
            content: "";
            width: 100%;
            height: 100vh;
            display: block;
            background: rgb(0 0 0 / 25%);
            z-index: 250;
        }
    }
    &__contents{
        position: relative;
        text-align: center;
        z-index: 300;
    }
    &__logo{
        margin-bottom: 5rem;
        &.-bottom{
            margin-bottom: 4rem;
        }
    }
    &__catch{
        & p{
            @include fz(18);
            color: #fff;
        }
    }
    &__scroll{
        @include roboto();
        position: absolute;
        bottom: 6rem;
        left: 0;
        right: 0;
        color: var(--color-white);
        font-weight: 300;
        text-align: center;
        z-index: 300;
        & a{
            position: relative;
            display: inline-block;
            &:after{
                position: absolute;
                content: "";
                bottom: -1px;
                left: 0;
                right: 0;
                width: 100%;
                height: 1px;
                display: block;
                background: var(--color-white);
                opacity: .5;
            }
        }
    }
    &__caption{
        @include fz(12);
        @include roboto();
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-weight: 300;
        color: var(--color-white);
        z-index: 300;
    }
    #v{
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 177.77777778vh;
        height: 56.25vw;
        min-height: 100%;
        min-width: 100%;
    }
}
// sec_topAbout
.top_secAbout{
    position: relative;
    & .secInner{
        position: relative;
        z-index: 200;
        padding-top: 41rem;
    }
    &__mTitle{
        @include fz(54);
        color: var(--color-white);
        line-height: 1.35;
        margin-bottom: 4rem;
        font-weight: 400;
    }
    &__mTxt{
        @include fz(22);
        color: var(--color-white);
        line-height: 2.05;
    }
    
}
.photoSlide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: auto;
    overflow: hidden;
    &:before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #222222 0%, rgba(34, 34, 34, 0.85) 41.67%, rgba(34, 34, 34, 0) 83%);
        z-index: 100;
    }
    &__box {
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        
        &:first-child {
            animation: loop 180s -90s linear infinite;
        }
        &:last-child {
            animation: loop2 180s linear infinite;
        }
    }
    
    &__day{
        @include fz(14);
        color: var(--color-white);
        font-weight: 300;
        line-height: 2.05;
        margin-left: 2rem;
        display: block;
    }
}
@keyframes loop {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes loop2 {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }

//   Archives
.top_secArchives{
    background-color: var(--bg-black01);
    padding: 14rem 0;
    & .primeTxt:not(.c_mainBlue){
        color: var(--color-white02);
    }
}
.soundArea{
    display: flex;
    align-items: center;
    justify-content: center;
    &__Btn{
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: start;
        color: var(--color-blue01);
        opacity: .2;
        &.-active{
            opacity: 1;
        }
        &:last-of-type{
            margin-left: 30px;
        }
    }
    &__txt{
        @include fz(16);
        font-weight: 400;
    }
    &__svg{
        width: 33px;
        margin-left: 10px;
        height: auto;
    }
}
.searchWrap{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 6rem 5rem;
    border-radius: 10px;
    background-color: var(--bg-black02);
    color: var(--color-white02);
    &__box{
        border-bottom: 2px solid #4F4F4F;
        padding: 3.5rem 0;
        &:first-of-type{
            padding:0 0 1.2rem 0;
        }
    }
    &__title{
        @include fz(20);
        margin-bottom: 1.4rem;
        font-weight: 400;
    }
}

.areaList {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 210px;
        margin-bottom: 2.5rem;
        &:not(:last-of-type) {
            margin-right: 25px;
        }
    }
    &__img{
        border-radius: 4px;
        overflow: hidden;
    }
    &__name{
        display: block;
        margin-top: 1rem;
    }
}
.tagList{
    display: flex;
    flex-wrap: wrap;
    &__item{
        @include fz(14);
        margin-bottom: 1.3rem;
    }
    &__link{
        padding: 1rem;
        border-radius: 2px;
        background-color: #444444;
        display: block;
        margin-right: 1.6rem;
        font-weight: 400;
    }
}
.search{
    &__form{
        position: relative;
        &:before{
            position: absolute;
            content: "";
            right: 16px;
            top: calc(50% - 12.5px);
            width: 30px;
            height: 25px;
            pointer-events: none;
            background: url(../material/svg/svg_search.svg);
            background-size: 24px;
            background-repeat: no-repeat;
        }
    }
    &__box{
        @include fz(16);
        width: 100%;
        display: block;
        width: 100%;
        height: 70px;
        padding: 0 50px 0 25px;
        background: #444444;
        border: 1px solid #696969;
        box-sizing: border-box;
        border-radius: 5px;
        transition: background .2s 0s cubic-bezier(0.17, 0.43, 0.19, 0.77);
        font-weight: 400;
        
        &:focus{
            background: var(--color-black01);
        }
    }
    &__form{
        @include fz(16)
    }
}